@{
    ViewBag.Title = "ContactUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Contact Us</h1>
<div class="row">
    <div class="span3 offset1">
        <address style="font-size: 110%;">
            <strong>Medicine Admissions Office</strong><br/>
            The Medical School<br/>
            University of Birmingham<br/>
            <a href="mailto:medicineadmissions@contacts.bham.ac.uk">medicineadmissions@contacts.bham.ac.uk</a><br/>
            Telephone:  +44 (0)121 414 9044/4064<br/>
        </address>
    </div>
</div>